.header-title{
    color: #272727;
display: flex;
font-size: 85px;
flex-direction: column;
width: 720px;
height: 288px;
font-weight: 800;
}
.header-description{
    display:flex;
    color:#27272799;
    width: 650px;
    font-size: 20px;

}
.button-title{
    background: #E55473;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    font-size: 25px;

    
}
.header{
    background-color: antiquewhite;
    width: 1800px;
height: 700px;
display: flex;
padding-left: 220px;
background-size: cover;
}
.image-title{
    width: 635px;
height: 700px;
padding-left: 200px;
}
.section-title{
    color: #272727;
    text-align: center;
font-size: 45px;
font-weight: 700;
padding-top: 100px;

}
.section-description{
    color: #27272799;
    text-align: center;
    font-size: 20px;
    width: 700px;
    padding-left: 550px;
    font-weight: 300;
}
.first-image{
    border-radius: 250px 250px 0px 0px;
background: #A7216226;
width: 370px;
height: 471px;
flex-shrink: 0;
margin-right: 20px;

}
.second-image{
    background:#0597A026 ;
     border-radius: 250px 250px 0px 0px;
     width: 370px;
height: 471px;
flex-shrink: 0;
}
.third-image{
    background:#477D1126 ;
    border-radius:250px 250px 0px 0px ;
    width: 370px;
height: 471px;
margin-left: 20px;
}
.image-section{
    padding-left: 380px;
    width: 1300px;
}
.text-styles{
    text-decoration: underline;
    display: flex;
    color: #272727;
    font-size: 20px;
justify-content: space-between;
align-items: center;
}
.hello-world{
    display: flex;
    padding-left: 100px;
}
.hello{
    display: flex;
    padding-left: 40px;
}
.margin-style{
    display: flex;
    padding-right: 150px;
    width: 320px;
    height: 40px;
}
.image-valobasa{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100px;
    height: 80px;
    margin-top: 80px;
    padding-right: 300px;
}
.shunonda{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 30px;
}
.naza{
text-align: center;
justify-content: space-between;
width: 500px;
height: 88px;
margin-right: 600px;
}
.israt{
    display: flex;
    margin-right: 400px;
}
.mim{
    margin-right: 450px;
}
.forhad{
    background: #2727270D;
    border-radius: 8px;
    width: 1300px;
height:100px;
text-align: center;
margin-top: 0px;
padding-right: 0px;
    
}
.font-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-left: 200px;
padding-top: 50px;

}
.font-description{
    display: flex;
width: 594px;
flex-direction: column;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 20px;
font-weight: 400;
margin-left: 101px;
}
.font-title{
    color: #272727;
    font-size: 20px;
    font-weight: 600px;
    margin-left: 300px;
}
.font-description{
    color: #27272799;
    display: flex;
width: 594px;
flex-direction: column;
text-align: center;
font-size: 20px;
font-weight: 400px;
}
.font-button{
    background: #E55473;
    border-radius: 10px;
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 300px;
}
.font-image{
    display: flex;
    padding-left: 800px;
    width: 400px;
height: 300px;
align-items:center ;
justify-content: space-between;
}
.font{
    margin-top: 100px;
    width: 500px;
    height: 30px;
}
.font-section{
    background: #E554730D;
    padding-right: 400px;
}
.ammu{
    color: #E55473;
}
.valo-thako{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 40px;
}
.soke-thako{
    display: flex;
width: 500px;
flex-direction: column;
color: #27272799;
text-align: center;
font-size: 20px;
font-weight: 400;
margin-left: 400px;

}
.abbu{
    display: flex;
    margin-left: 1050px;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    bottom: 400px;
    padding-left: 40px;
}
.margin-right{
    margin-right: 20px;
    
    
}
.sister{
    padding-left: 20px;
    
}
.all-about{
    margin-right: 200px;
}
.life-is-not-easy{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight:700;
    margin-left: 500px;
    padding-top: 200px;
}
.valo-ase{
    color: #27272799;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.all-one{
    position:relative;
    bottom: 150px;
    font-size: 20px;
    border-radius: 8px;
    background-image: url(../images/image/Rectangle\ 9.png);
    width: 1400px;
height: 400px;
text-align: left;
}
.input-valo{
    background: #FFFFFF;
    width: 600px;
height: 50px;
border-radius: 10px;
color: #27272799;
font-size: 16px;
font-weight: 400;
margin-left: 300px;
}
.all-best{
    background: #E55473;
    width: 100px;
height: 40px;
border-radius: 10px;
color: #FFFFFF;
font-size: 20px;
}